<template>
    <nav>
        <button value="Play" @mouseup="onMouseUp" :disabled="play" id="play"><i class="fas fa-play"></i></button>
        <button value="Pause" @mouseup="onMouseUp" :disabled="pause" id="pause" type="submit"><i class="fas fa-pause"></i></button>
        <button value="Stop" @mouseup="onMouseUp" :disabled="stop" id="stop" type="submit"><i class="fas fa-stop"></i></button>
    </nav>
</template>
<script>
export default {
    data(){
    return{
      play: false,pause: true,stop: true
    }
  },
    methods: {
        onMouseUp(event){
            //MUST USE event.CURRENTTARGET.id and not just target or when the icon is pressed its counted as a separate event
            switch(event.currentTarget.id){
                case "play":
                    this.play = true;
                    this.pause = false;
                    this.stop = false;
                break;
                case "pause":
                    this.play = false;
                    this.pause = true;
                    this.stop = false;
                    break;
                case "stop":
                    this.play = false;
                    this.pause = true;
                    this.stop = true;
                    break;
            }
            //sends the event to App.vue to be used by the programm
            var command = event.currentTarget.value;
            this.$emit("newCommand",command);
        }
    }
}

</script>
<style scoped>
    button{
        width:8vw;
    }
    .fas{
        text-align: center;
        font-size:2vh;
    }
</style>
