<template>
  <div>
    <button @click="loadNextImage"><i class="fas fa-redo"></i></button>
    <fieldset><img :src="image.url"><img></fieldset>
  </div>
</template>
<script>
export default {
    data(){
    return{
      image: { url: ""},coucou: 1
    }
  },

  methods: {
    async loadNextImage() {
      try {
        //Code scavenged from stack overflow and the official cat api website to call an api
        this.axios.defaults.headers.common["x-api-key"] = "DEMO-API-KEY"; // Insert a valid api key for official release

        let response = await this.axios.get(
          "https://api.thecatapi.com/v1/images/search",
          { params: { limit: 1, size: "full" } }
        ); // Ask for 1 Image, at full resolution

        this.image = response.data[0]; // the response is an Array, so just use the first item as the Image

        console.log("-- Image from TheCatAPI.com");
        console.log("id:", this.image.id);
        console.log("url:", this.image.url);

      } catch (err) {
        console.log(err);
      }
    },
  },
};
</script>

<style scoped>
* {
  margin: 0px;
}
fieldset {
  margin: auto;
  padding-bottom:0;
  border-radius: 10px;
  border-width: 1vh;
  border-color: #ccc;
  width:30vw;
}
button {
  text-align: center;
  width: 20%;
  border: none;
  outline: none;
  background-color:#ccc;
  font-size: 2.5vh;
  margin-bottom: 1%;;
}
button:focus:active {
  padding-top: 4px;
  padding-left: 4px;
  padding-right: 6px;
  padding-bottom: 0px;
  color: #ccc;
}
img{

    max-height: 50vh;
}
</style>
