<!--
Project     : pomodoro
Components  : Timer
Description : Timer that counts down
Author      : DOMINGUES PEDROSA Samuel
Date 	      : 2021.09.29, V1.0
-->
<template>
  <div>
    <!--Computes the remaning time-->
    <h1>{{ Math.floor(time / 60) }}:{{ time - Math.floor(time / 60) * 60 }}</h1>
  </div>
</template>

<script>
const WORK_TIME = 20 * 60; //20 minutes
const BREAK_TIME = 5 * 60; //5 minutes

export default {
  name: "timer",
  props: ["state"],
  data() {
    return {
      time: WORK_TIME,
      whatDo: "work",
      intervalTimer: null,
      intervalCat: null,
    };
  },
  beforeUnmount() {
    clearInterval(this.intervalTimer);
  },
  methods: {
    startTimer(){
      this.intervalTimer = setInterval(this.decrease_time, 1000);
      this.intervalCat = this.whatDo == "rest" ? setInterval(this.change_cat, 5000) : clearInterval(this.intervalCat);
    },
    stopTimer(){
      clearInterval(this.intervalTimer);
      clearInterval(this.intervalCat);
      this.time = WORK_TIME;
    },
    pauseTimer(){
      clearInterval(this.intervalTimer);
      clearInterval(this.intervalCat);
      
    },
    decrease_time() {
      this.time -= 1;
      //Change the timer when it finishes
      if (this.time <= 0) {
        this.whatDo = this.whatDo == "work" ? "rest" : "work";
        this.intervalCat = this.whatDo == "rest" ? setInterval(this.change_cat, 5000) : clearInterval(this.intervalCat);
        this.time = this.whatDo == "rest" ? BREAK_TIME : WORK_TIME;
        this.$emit('timerFinished', this.whatDo);
      }
    },
    //Emits the signal to change the cat picture
    change_cat() {
      this.$emit('changeCat', "cat");
      console.log("cat");
    }
  }
};
</script>