<template>
  <main>
    <Title></Title>
    <br />
    <controls v-on:newCommand="enterNewCommand" ></controls>
    <timer :state="state" v-on:timerFinished="showFinished" v-on:changeCat="changeCat" ref="timerPomodoro"></timer>
    <cat ref="loadKitten"></cat>
  </main>
</template>

<script>
import Title from "./components/Title.vue";
import Controls from "./components/Buttons.vue";
import Timer from "./components/Timer.vue";
import Cat from "./components/CatBox.vue";

export default {
  name: "App",
  components: {
    Title,
    Controls,
    Timer,
    Cat,
  },
  date() {
    return {
      state: "Stop",
    };
  },
  mounted(){
    this.changeCat();
  },
  methods: {
    enterNewCommand(command) {
      switch (command) {
        case "Play":
          this.$refs.timerPomodoro.startTimer();
          break;
        case "Stop":
          this.$refs.timerPomodoro.stopTimer();
          break;
        default:
          this.$refs.timerPomodoro.pauseTimer();
          break;
      }
      this.state = command;
    },
    showFinished(txt){
      this.$refs.loadKitten.loadNextImage();
      console.log(txt);
    },
    changeCat(){
      this.$refs.loadKitten.loadNextImage();
    }
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
